# =============== #
# Unity generated #
# =============== #
Project/Temp/
Project/Library/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Project/ExportedObj/
Project/obj/
*.svd
*.userprefs
Project/*.csproj
*.suo
Project/*.sln
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Project/Assembly-CSharp-vs.csproj
Project/Assembly-CSharp-vs.csproj
Project/Assembly-CSharp.csproj
